*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.maindiv{
    display: flex;
    justify-content: center;
    height: 700px;
    align-items: center;
}

.div{
    text-align: center;  
}
#div-h1{
    text-decoration: underline;
}

.div1{
    width:320px;
    height:120px;
    border: none;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    margin-top: 30px;
}

#input{
    width: 100%;
    height: 100%;
    text-align: right;
    font-size: 24px;
    font-weight: bold;
    word: spacing 1rem;
    padding: 0px 5px;
    border: none;
    letter-spacing:2px;
}


.div2{
    height: 400px;
    width: 320px;
    box-sizing: border-box;
    display: flex;
    background-color: white;
    justify-content: space-between;
    flex-wrap: wrap;
}
.subdiv{
    height: 77px;
    width: 77px;
    background-color: #1F2326;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.3rem;
}

.subdiv:hover{
    background-color: white;
    color: black;
}
.sub-div4,.sub-div8,.sub-div12,.sub-div16 {
    background-color: #5F4BB6;
}
.sub-div20{
    background-color: #DFAC06;
}